@font-face {
  font-family: inconsolata;
  src: url("../fonts/Inconsolata-BoldPunct.ttf"); }

@font-face {
  font-family: headers;
  src: url("../fonts/Symbola.otf"); }

body {
  font-family: inconsolata;
  font-size: 12px; }

.row:after,
.row:before {
  display: table;
  content: "";
  line-height: 0; }

.row {
  margin-bottom: 20px; }
  .row:after {
    clear: both; }

.col {
  float: left; }

.container {
  width: 800px;
  margin-left: auto;
  margin-right: auto; }

.header {
  width: 600px; }
  .header .name {
    font-family: headers;
    font-size: 62px; }

.contact {
  width: 200px;
  text-align: center; }

.section-desc {
  width: 80px;
  text-align: right;
  margin-top: 14px;
  padding: 5px 10px 0 10px;
  border-top: 1px solid gray;
  font-family: headers;
  font-size: 27px; }

.section-content {
  padding: 5px 0px 5px 10px;
  border-left: 1px solid gray;
  width: 600px; }

.element {
  margin-bottom: 10px; }

.title div {
  display: inline-block;
  font-size: 14px; }

.time {
  float: right; }

ul {
  margin: 0 0; }

.skill-group {
  width: 190px;
  margin-right: 5px; }
  .skill-group .skill {
    padding: 0 3px;
    border: 1px solid gray;
    margin: 1px 0; }
